app = "dissertation-workbench-grobid"
primary_region = "sjc"

[build]
  image = "grobid/grobid:0.8.2-crf"

[http_service]
  internal_port = 8070
  force_https = false
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = "2gb" # Grobid is heavy and requires at least 2GB of RAM
  cpu_kind = "shared"
  cpus = 1
